

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/book-list.css">
</head>
<body>
    <section class="book-list">
        <div class="book-list-container">
            <ul class="book-list-ul">
                <li class="book-list-item">
                    <a href="" class="book-list-link"><span class="text current">All categories</span></a>
                </li>
                <li class="book-list-item">
                    <a href="" class="book-list-link"><span class="text">Combined Print & E-book Fiction</span></a>
                </li>
                <li class="book-list-item">
                    <a href="" class="book-list-link"><span class="text">Combined Print & E-book Nonfiction</span></a>
                </li>
                <li class="book-list-item">
                    <a href="" class="book-list-link"><span class="text">Hardcover fiction</span></a>
                </li>
                <li class="book-list-item">
                    <a href="" class="book-list-link"><span class="text">Hardcover nonfiction</span></a>
                </li>
                <li class="book-list-item">
                    <a href="" class="book-list-link"><span class="text">Paperback trade fiction</span></a>
                </li>
                <li class="book-list-item">
                    <a href="" class="book-list-link"> <span class="text">Paperback nonfiction</span></a>
                </li>
                <li class="book-list-item">
                    <a href="" class="book-list-link"><span class="text">Advice, how-to & Miscellaneous</span></a>
                </li>
                <li class="book-list-item">
                    <a href="" class="book-list-link"><span class="text">Children’s middle grade hardcover</span></a>
                </li>
            </ul>
        </div>
    </section>
    <script type="module" src="../js/book-list.js"></script>
</body>
</html>
