

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/book-list.css">
</head>
<body>
    <section class="book-list">
        <div class="book-list-container">
            <h2 class="book-list-title">ALL CATEGORIES</h2>
            <ul class="book-list-ul">
                <li class="book-list-item current">
                    <a href="" class="book-list-link">Combined Print and E-book Fiction</a>
                </li>
                <li class="book-list-item">
                    <a href="" class="book-list-link">Combined Print & E-book Nonfiction</a>
                </li>
                <li class="book-list-item">
                    <a href="" class="book-list-link">Hardcover fiction</a>
                </li>
                <li class="book-list-item">
                    <a href="" class="book-list-link">Hardcover nonfiction</a>
                </li>
                <li class="book-list-item">
                    <a href="" class="book-list-link">Paperback trade fiction</a>
                </li>
                <li class="book-list-item">
                    <a href="" class="book-list-link">Paperback nonfiction</a>
                </li>
                <li class="book-list-item">
                    <a href="" class="book-list-link">Advice, how-to & Miscellaneous</a>
                </li>
                <li class="book-list-item">
                    <a href="" class="book-list-link">Children’s middle grade hardcover </a>
                </li>
            </ul>
        </div>
    </section>
    <script type="module" src="../js/book-list.js"></script>
</body>
</html>
