<header class="header container">
    <div class="header-box">
        <div class="header-nav">
            <a class="header-logo  link" href="./index.html" rel="noopener noreferrer nofollow" class="logo">
                <img class="logo-svg" src="./images/header/logo.png" alt="logo" />
                <span class="logo-text">Bookshelf</span>
                <!-- <img class="logo-text" src="./images/header/logo-text.png" alt="logo" /> -->
                <!-- <svg class="logo-book" width="53" height="17">
                    <use href="./images/icons.svg#icon-Book"></use>
                </svg> -->
            </a>
            <label class="switch">
                <input type="checkbox">
                <span class="slider"></span>
            </label>
            <button class="burger-button" type="button" data-menu-open>
                <svg class="burger-icon" width="24" height="24">
                    <use href="./images/icons.svg#icon-align-left"></use>
                </svg>
            </button>
        </div>
        
    </div>
    <div class="mob-menu is-hidden" data-menu>
        <button class="close-button" type="button">
            <svg class="menu-close-icon" data-menu-close>
                <use href="./images/icons.svg#icon-x-close"></use>
            </svg>
        </button>
        <a class="signup-link link" href="">Sign up
            <img class="signup-arrow" src="./images/header/arrow-right.png" alt="logo" />
            <!-- <svg class="arrow-right-icon" width="20" height="20">
                <use href="./images/icons.svg#arrow-narrow-right"></use>
            </svg> -->
        </a>
        <!-- <nav class="menu-nav"> -->
            <ul class="nav-list list">
                <li class="nav-item">
                    <a class="home-link link" href="./index.html">Home</a>
                </li>
                <li class="nav-item">
        
                </li>
            </ul>
        <!-- </nav> -->
    </div>
</header>