<section class="modal visually-hidden">
    <div class="form-container">
        <button class="modal-close"><svg class="modal-x-svg"><use href="./images/icons.svg#icon-x-close"></use></svg></button>
        <div class="modal-info">
        <img class="modal-image" src="https://storage.googleapis.com/du-prd/books/images/9780593652886.jpg" alt="jpg">
        <div class="modal-text">
            <h3 class="modal-title">THE CREATIVE ACT</h3>
            <p class="modal-author">Rick Rubin with Neil Strauss</p>
            <p class="modal-description">no</p>
            <div class="modal-links">
                <a class="modal-amazon-link" href="" target="_blank"><img class="modal-img" id="img" srcset="./images/book-store-icon/amazon-2x.png"
                    src="./images/book-store-icon/amazon.png" alt="amazon" height="19"></a>
                <a class="modal-apple-link" href="" target="_blank"><img class="modal-img" srcset="./images/book-store-icon/apple-books-2x.png"
                    src="./images/book-store-icon/apple-books.png" alt="apple-books" height="32"></a>
                <a class="modal-shop-link" href="" target="_blank"><img class="modal-img" srcset="./images/book-store-icon/book-shop-2x.png"
                    src="./images/book-store-icon/book-shop.png" alt="book-shop" height="36"></a>
            </div>
        </div>
    </div>
        <button class="modal-button">Add to shopping list</button>
    </div>
</section>