.form-container {
    border: 2px solid var(--Darker);
    border-radius: 18px;
    width: 335px;
    padding-top: 12px;
    padding-bottom: 40px;
    background-color: var(--White);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.locked {
    overflow: hidden;
}

.modal {
    position: fixed;
    background-color: rgba(17, 17, 17, 0.4);
    width: 100%;
    height: 100%;
    z-index: 1000;
}


.modal-info {
    padding: 0 24px;
}

.modal-title {
    margin-top: 14px;
    margin-bottom: 4px;
    line-height: 1.12;
    font-size: 16px;
}

.modal-author {
    margin-bottom: 18px;
    line-height: 1.17;
    font-style: italic;
    color: rgba(180, 175, 175, 1);
    font-size: 12px;
}

.modal-description {
    margin-bottom: 14px;
    line-height: 1.28;
    font-size: 14px;
}

.modal-close {
    display: flex;
    margin-left: auto;
    margin-bottom: 4px;
    margin-right: 14px;
    border: 0px;
    background-color: transparent;
    padding: 0px 0px;
}

.modal-x-svg {
    stroke: black;
    width: 22px;
    height: 22px;
}

.modal-button {
    margin: 0 auto;
    border-radius: 40px;
    border: 2px solid var(--Blue);
    padding: 14px 28px;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    background-color: var(--White);
    line-height: 1.28;
    font-weight: 700;
    font-size: 14px;
}

.modal-button:hover,
.modal-button:focus {
    background-color: var(--Blue);
    color: var(--White);
}

.modal-image {
    border-radius: 8px;
    display: block;
    width: 285px;
    /* background-image: url(../images/book-store-icon/book-load.png); */
}

.modal-links {
    display: flex;
    gap: 20px;
    align-items: center;
    height: 100%;
    filter: grayscale(100%);
    margin-bottom: 40px;
}

.after-button {
    color: rgba(17, 17, 17, 0.5);
    text-align: center;
    line-height: 1.2;
    font-size: 10px;
    width: 262px;
    margin: 8px auto 0 auto;
}


.modal-img {
    display: block;
}

.modal-img:hover,
.modal-img:focus {
    -webkit-filter: drop-shadow(0px 3px 3px #00000036);
    filter: drop-shadow(0px 3px 3px #00000036);
}

@media screen and (min-width: 768px) {
    .form-container {
        width: 579px;
        position: relative;
        padding-top: 0;
    }

    .modal-x-svg {
        width: 24px;
        height: 24px;
    }

    .modal-image {
        width: 192px;
    }

    .modal-title {
        line-height: 1.16;
        margin-bottom: 8px;
        margin-top: 0;
        font-size: 24px;
    }

    .modal-author {
        line-height: 1.28;
        margin-bottom: 20px;
        font-size: 14px;
    }

    .modal-description {
        margin-bottom: 20px;
    }

    .modal-button {
        padding: 20px 0;
        line-height: 1.33;
        width: 85%;
        font-size: 18px;
    }

    .modal-info {
        display: flex;
        align-items: start;
        gap: 24px;
        margin-bottom: 40px;
        padding: 0 40px;
        margin-top: 40px;
    }

    .modal-close {
        display: block;
        position: absolute;
        left: 92%;
        top: 5%;
    }

    .after-button {
        font-size: 12px;
        line-height: 1.16;
        width: 350px;
    }
}