@import url(./header.css);
@import url(./font-face.css);
@import url(./footer.css);
@import url(./loader.css);
@import url(./scroll-up.css);
@import url(./support.css);

:root {
    --White: #ffffff;
    --Light: rgba(246, 246, 246, 1);
    --Yellow: rgba(234, 198, 69, 1);
    --Blue: #4f2ee8;
    --Black: rgba(32, 32, 36, 1);
    --Darker: #111111;
}

p,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    display: block;
    margin: 0;
}

ul {
    padding-left: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

body {
    margin: 0;
    font-family: 'DM Sans',
        sans-serif;
    background-color: var(--Light);
    color: var(--Darker);
    font-size: 14px;
    line-height: 1.9;
    font-weight: 400;
}

li,
a {
    text-decoration: none;
    list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

/* img {
    display: block;
} */

ul {
    padding-left: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

.list {
    color: var(--Blue);
}

.shopping {
    font-family: DM Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: -1.28px;
    color: var(--Darker);
    margin-top: 40px;
}

.shopping-div {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-wrap: wrap;
    /* justify-content: flex-start; */
    /* flex-direction: column; */
    margin-bottom: 40px;
}

.is-hidden {
    display: none;
}

/* .shopping-list {
    justify-content: center;
    width: 156px;
} */

.top-item-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}

.js-remove {
    background-color: var(--Blue);
    border: none;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    align-items: center;
    display: flex;
    justify-content: center;
}

/* .cart{
        flex-direction: column;
        gap: 14px;
        align-items: center;
        justify-content: center;
    } */
.home-link-menu,
.home-link {
    background: none;
}

/* .empty-cart-img {} */

.empty-cart-notification {
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #00000099;
    width: 244px;
}

.shop-img {
    width: 100px;
    height: 142px;
    padding: 14px;
    border-radius: 8px;
}

.shopping-list-item {
    width: 335px;
    height: 170px;
    display: flex;
    border-radius: 16px;
    border: 2px solid rgba(79, 46, 232, 0.4);
}

.shopping-div-svg {
    margin-bottom: 40px;
    justify-content: flex-start;
}

.shopping-list-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.shopping-list-title {
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.04em;
    color: var(--Darker);
}

.shop-item-div {
    padding: 14px 14px 14px 0;
    width: 193px;
}

.shopping-list-text {
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.04em;
    color: var(--Darker);
    margin-bottom: 14px;
}

.shopping-list-author {
    font-family: DM Sans;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.04em;
    color: #B4AFAF;
}

.book-links {
    display: flex;
    gap: 8px;
}

.author-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.support-shopping-section {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 335px;
    margin: 0 auto;
    padding: 0 20px;
}

/* @media screen and (min-width: 375px) { */
    .container {
        width: 375px;
        margin: 0 auto;
    }

    .hidden {
        display: none;
    }

    /* .shopping {
        margin-top: 40px;
    } */

    /* .support-shopping-section {
        justify-content: center;
    } */
/* } */

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        padding: 0;
    }

    .support-shopping-section {
        justify-content: flex-start;
        width: 704px;
        padding: 0 32px;
    }

    .amazon {
        width: 48px;
        height: 15px;
    }

    .apple-book {
        width: 28px;
        height: 28px;
    }

    .book-shop {
        width: 32px;
        height: 32px;
    }

    .shopping-list-item {
        width: 704px;
        height: 213px;
    }

    .shopping-div-svg {
        width: 704px;

    }

    .shopping-div {
        align-items: flex-start;
        justify-content: flex-start;
        /* padding-left: 32px;
        padding-right: 32px; */
        margin-bottom: 140px;
    }
    .shopping {
        font-size: 48px;
        line-height: 52px;
        letter-spacing: -1.92px;
    }
    .cart {
        margin-right: auto;
        margin-left: auto;
        margin-top: 140px;

        width: 349px;

    }

    .shop-item-div {
        width: 508px;
        padding: 24px 24px 24px 0;
    }

    .shop-img {
        padding: 24px;
        width: 116px;
        height: 165px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        width: 1440px;
        padding: 0;
    }

    .hidden {
        display: flex;
        width: 356px;
        height: 474px;
    }
    .support-ukraine {
        width: 356px;
        height: 424px;
    }
    .shopping-div {
        padding: 0;
        margin-bottom: 0;
        width: 996px;
    }

    .support-shopping-section {
        padding: 0 24px;
        width: 1392px;
        justify-content: center;
    }

    .shopping-list-item {
        width: 996px;
    }

    .shopping {
        width: 996px;
        margin-top: 0;
    }

    .shop-item-div {
        width: 808px;
    }

    .support-shopping-section {
        margin-top: 40px;
        margin-bottom: 140px;
    }
}

/*dark*/
.theme-dark .home-link {
    color: var(--White);
}

.theme-dark .shopping-list-text {
    color: var(--White);
}

.theme-dark .shopping {
    color: var(--White);
}

.theme-dark .empty-cart-notification {
    color: var(--White);
}

.theme-dark .shopping-list-title {
    color: var(--White);
}

.theme-dark .shopping-list-item {
    background-color: var(--Darker);
}

.theme-dark .shopping-list-text {
    color: var(--White);
}

.theme-dark {
    background-color: var(--Black);
}