.support-container {
    position: relative;
    top: 372px;
}

.support-ukraine {
    display: block;
    width: 335px;
    height: 352px;
    padding-top: 24px;
    padding-bottom: 20px; 
    padding-left: 40px;

    border-radius: 16px;
    background: radial-gradient(189.32% 190.93% at 59.76% -23.42%, var(--Blue) 18.03%, var(--White) 100%);
    box-shadow: 0px 10px 10px 0px rgba(245, 245, 247, 0.10);
}
.support-heading {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.support-title {
    color: var(--White);
    font-family: DM Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.88px;

    margin: 0;
    margin-right: 12px;
}
.support-gerb {
    width: 20px;
    height: 32px;
    fill: var(--White);
}
.supporter-number {
    color: var(--White);
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.56px;
    float: left;
    margin-right: 14px;
    transform: translateY(50%);
}
.supporter-img {
    display: block;
    height: 32px;
}
.swiper {
    width: 200px;
    height: 188px;
    float: left;
}
/* .support-btn {
    position: relative;
    bottom: 16px;
    left: 112px;
    width: 32px;
    height: 32px;
    background-color: var(--White);
    border: 1px solid var(--White);
    border-radius: 50%;
} */
.swiper-button-next {
    transform: rotate(90deg);
    width: 32px;
    height: 32px;
    background-color: var(--White);
    border: 1px solid var(--White);
    border-radius: 50%;
}
.support-btn-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    fill: var(--Blue);
}

@media screen and (min-width: 768px) {
    .support-container {
        top: 112px;
        float: right;
    }

    .support-ukraine {
        height: 474px;
        padding-bottom: 24px;
    }
    .support-title {
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -0.96px;
    }
    .swiper {
        height: 292px;
    }
    .support-btn {
        bottom: 24px;
        left: 149px;
        width: 38px;
        height: 38px;
    }
    .support-btn-icon {
        width: 22px;
        height: 22px;
    }
       
}

@media screen and (min-width: 1440px) {
    .support-container {
        top: 670px;
        float: left;
    }
    .support-ukraine {
        width: 356px;
    }
    .support-btn {
        left: 159px;
    }
}

